.nav{
    text-align: center;
    font-size: 12pt;
    padding-top: 1rem ;
    color: black;
    text-decoration: none;
    margin-bottom: 2rem;
    font-style: none;
    
    
}



.top-buffer {
    /* margin:20px;  */
    /* margin-bottom: 10%px; */
}

.footer{
    margin-top: 20px;
    margin-bottom: 20px;
}

.ml-1 {
    margin-top: 2rem !important;
    /* margin-right: 2rem !important; */
  }